/* imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* general */
* {
    padding: 0;
    margin: 0;
    /* font-family: 'Poppins', sans-serif; */
}

body {
    font-family: 'Poppins', sans-serif;
}

/* sidebarbar */
.dashboard {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.sidebar-container {
    padding: 2% 4%;
    max-width: 600px;
    height: 660px;
    background-color: green;
}
.sidebar {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    gap: 100px;
}

.sidebar-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    /* justify-content: space-between; */
    list-style: none;
    gap: 50px;
}

.sidebar-list li a {
    color: white;
    text-decoration: none;
}

#overview {
    border: none;
    border-radius: 10px;
    padding: 10% 80%;
    background-color: gray;
}

#logout {
    font-size: 800;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 12px 24px;
    background-color: white;
}



/* hero */








